/*                                HEADER                               */
:root{

}
a{
    text-decoration: none;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header div{
    display: flex;
    align-items: center;
}
.ri-home-4-line{
    font-size: 1.5em;
}
.btn-login{
    background-color: transparent;
    border: 1px solid black;
    width: 70px;
    font-size: 1em;
    border-radius: 15px;
    font-family: "Montserrat";
    transition: 0.5s ease-in-out;
}
.btn-login:hover{
    color: white;
    background-color: black;
}
section{
    min-height: 100vh;
    width: 100%;
}
.hero{
    width: 95%;
    border-radius: 15px;
}