.product_img_container{
    height: 70vh;
    width: 40%;
    overflow: hidden;
}
.product_img{
    height: 100%;
    width: auto;
    border-radius: 10px;
}
.product_description{
    height: 71vh;
    width:30%;
    background-color: var(--color7);
    margin-left: -5%;
    align-items: start;
}
.product_name{
    font-weight: 600;
    font-size: 3em;
}